<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ThinkAgain for real-time</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">ThinkAgain</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>

    <div class="container">
    <div class="jumbotron">
      <h1>Welcome to the SSE demo</h1>
      <p>Github <a href='https://github.com/cognitiverobot/' target='_blank'>here.</a></p>
    </div>
    </div>



    <div class="container" id="content">
        <div class="row">
            <h3>Incoming Stream:</h3>
            <div id="messageDiv"></div>
            </div>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript - Need for sse and materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script type="text/javascript">
      // for SSE trigger
      $(document).ready(function(){
        function listen() {
            var source = new EventSource("/stream/");
            var target = document.getElementById("messageDiv");
            source.onmessage = function(msg) {
              console.log(msg.data);
        	     target.innerHTML = msg.data + '<br>';
            }
        }
        listen();

        // side nav for mobile device - part of materialize framework.
        $('.sidenav').sidenav();
      });

    </script>
  </body>

</html>

